<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Enrollment</title>
</head>
<body>
    <h1>Students Enrollment</h1>
    <ul>
      <% student.forEach(function(info) { %>
        <li>
          <%= info.name %>
            - 
          <%= info.enroll ? 'Y' : 'N' %>
        </li>
      <% }); %>
    </ul>
  </body>
</html>